body, html {
  height: 100%;
}

.go-back {
  cursor: pointer;
  position: absolute;
  padding: 1%;
  left: 0;
  top: 0;
}

.table-left-column {
  width: 2em;
}

.App {
  text-align: center;
}

.homepage__body {
  padding-top: 10%;
  text-align: center;
}

.select-size__body {
  padding-top: 15%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 10%;
  padding: 5%;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.font-large {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
